.row-header{
  margin:0px auto;
  padding:0px auto;
}
.header {
  height: 110vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.row-content {
  margin:0px auto;
  padding: 10px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
  color: #800080;
  
}

.footer{
  background-color:black;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  color:floralwhite;
}

.navbar-dark {
  background-color: black;
}


